@using PCBuilder.Services.ComponentsAPI.DTOs
@model List<PCBuilder.Services.ComponentsAPI.DTOs.ComputerDTO>

<div class="container mt-4">
    <div class="row g-4">
        <h1 class="text-center">Computers</h1>
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card card-hover  border-light bg-light-subtle  h-100 shadow-sm" style="max-width: 20rem;">
                    <div class="card-header fw-bold bg-dark-subtle ">
                        @item.Name
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mb-4">
                            <li>
                                <strong>CPU:</strong>
                                @item.CPUName ?? "-"
                            </li>
                            <li>
                                <strong>GPU:</strong>
                                @(item.GPUNames != null && item.GPUNames.Any() ? string.Join(", ", item.GPUNames) : "-")
                            </li>
                            <li>
                                <strong>RAM:</strong>
                                @(item.RAMNames != null && item.RAMNames.Any() ? string.Join(", ", item.RAMNames) : "-")
                            </li>
                        </ul>
                        <div class="text-end">
                            <a asp-controller="Computer" asp-action="ComponentsIndex" asp-route-id="@item.Id" class="btn btn-info me-2">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>