@using PCBuilder.Services.ComponentsAPI.DTOs
@model IEnumerable<ComputerDTO>

<div class="card shadow border-0 mt-4">
	<div class="card-header border-dark-subtle bg-light bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-black">Components List</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a asp-action="CouponCreate" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New Coupon</a>

			</div>
		</div>
		<table class="table table-borderless">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>CPU</th>
                    <th>PSU</th>
                    <th>Motherboard</th>
                    <th>Case</th>
                    <th>GPUs</th>
                    <th>RAM</th>
                    <th>Storage</th>
                    <th>Monitors</th>
                    <!-- Add more columns as needed -->
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.CPUName</td>
                        <td>@item.PSUName</td>
                        <td>@item.MotherboardName</td>
                        <td>@item.CaseName</td>
                        <td>
                            @(item.GPUNames != null ? string.Join(", ", item.GPUNames) : "-")
                        </td>
                        <td>
                            @(item.RAMNames != null ? string.Join(", ", item.RAMNames) : "-")
                        </td>
                        <td>
                            @(item.StorageNames != null ? string.Join(", ", item.StorageNames) : "-")
                        </td>
                        <td>
                            @(item.MonitorNames != null ? string.Join(", ", item.MonitorNames) : "-")
                        </td>
                        <!-- Add more columns as needed -->
                        <td>
                            <a asp-action="ComputerDetails" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            <a asp-action="DeleteComputer" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
		</table>

	</div>

</div>